<section id="location" class="section section-muted">
  <div class="container two-col location-grid">
    <div>
      <p class="eyebrow">Расположение</p>
      <h2>Бизнес центр Триллиант, улица Шахрисабз, 2</h2>
      <p>
    
      </p>

      <div class="route-list">
        <article>
          <strong>Адрес</strong>
          <span>улица Шахрисабз, 2</span>
        </article>
        <article>
          <strong>Город</strong>
          <span>г.Ташкент</span>
        </article>
        <article>
          <strong>Маршрут</strong>
          <span>Заезд со стороны ул. Шахрисабз</span>
        </article>
      </div>
    </div>

    <div class="map-placeholder">
        <iframe
          src="https://yandex.uz/map-widget/v1/?ll=69.282683%2C41.315763&amp;mode=whatshere&amp;whatshere%5Bpoint%5D=69.282683%2C41.315763&amp;whatshere%5Bzoom%5D=17&amp;z=17"
          width="100%"
          height="450"
          frameborder="0"
          allowfullscreen="true"
          style="border:0;">
        </iframe>
    </div>
  </div>
</section>
