<section id="infrastructure" class="section section-dark">
  <div class="container two-col">
    <div>
      <p class="eyebrow">Инфраструктура</p>
      <h2></h2>
      <p>
        Для арендатора доступны к использованию услуги отеля InterContinental, четырех ресторанов, подземной многоуровневой парковки
      </p>
    </div>

    <div class="chips">
      <span>Intercontinental Hotel</span>
      <span>Ресторан [KU:] RAMEN</span>
      <span>Ресторан Ember and Embarа</span>
      <span>Кафе BRIOCHE</span>
      <span>Адрес: Шахрисабз, 2</span>
    </div>
  </div>
</section>
