<section id="about" class="stats-section">
  <div class="container two-col">
    <div>
      <p class="eyebrow">О бизнес-центре</p>
      <h2>Триллиант — офисное здание класса А в центре г. Ташкент</h2>
      <p>
        Комплекс расположенный на улице Шахрисабз, 2. Здание введено в экплуатацию, полностью функционирует и отлично подходит для открытия представительского офиса
      </p>
    </div>

    <div class="stats-grid">
      <article>
        <strong>Шахрисабз,2</strong>
        <span>адрес бизнес-центра</span>
      </article>
      <article>
        <strong>A</strong>
        <span>класс здания</span>
      </article>
      <article>
        <strong>128 – 1674 м²</strong>
        <span>диапазон доступной площади для аренды</span>
      </article>
      <article>
        <strong>Введено в экплуатацию</strong>
        <span>готовность использования</span>
      </article>
    </div>
  </div>
</section>
